@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-space: 'BootleqSpace';
}

@font-face {
  font-family: 'BootleqSpace';
  src: url('/assets/BootleqSpace.woff2') format('woff2');
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color-scheme: light; */
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-lr;
  }
}
