.table {
  table {
    padding-top: 2px;
    padding-bottom: 4px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    // border-collapse: separate;
  }

  thead {
    border-bottom: 1px solid #aaa;
  }

  th {
    padding: 3px 2px;
    font-family: var(--font-space), var(--font-digits), var(--font-geist-sans), 'Microsoft JhengHei', 'Noto Sans TC', sans-serif;
    border-right: 1px solid white;

    &:last-child {
      border-right: none;
    }
    &:hover {
      background-color: white;
    }
  }

  td {
    padding: 1px 2px;
    border-right: 1px solid white;
    &:first-child {
      text-align: center;
    }
    &:last-child {
      border-right: none;
    }
  }

  td {
    &:first-child {
      position: sticky;
      left: 0;
      padding-inline: 10px;
      background-color: #f3f4f6;
      box-shadow: 8px 0 3px -2px rgba(0,0,0,0.1);
    }
  }

  tbody {
    font-family: 'Consolas', 'Cascadia Mono', 'Liberation Mono', 'Noto Mono TC', 'ui-monospace', monospace;

    tr:nth-child(2n+1) {
      background-color: #e7e5e4;

      td {
        &:first-child {
          background-color: #e7e5e4;
        }
      }
    }

    tr:hover {
      background-color: #fef9c2;
    }

    td {
      text-align: right;
      max-width: 5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
